@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Jersey+10&family=Story+Script&display=swap");

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
min-height: 100vh;
text-align: center;
align-items: center;
background-image: url("./Imagen/Imagenbobonueva.jpg");
background-size: cover;
background-repeat: no-repeat;
color:white; 
}

.splash-container {
background-color: rgba(0, 0, 0, 0.5);
padding: 35px;
border-radius: 20px;
}

h1 {
font-size: 7em;
margin-bottom: 40px;
font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.start-button {
padding: 30px 40px;
font-size: 3.5em;
background-color: #ffef00;
color: black;
border: none;
border-radius: 5px;
cursor: pointer;
transition: color 0.3s ease;
font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.start-button:hover {
background-color: black;
color: white;
font-family: "Jersey 10", sans-serif;
}

body.main-page {
  margin: 0;
  overflow: hidden; /* sin scroll */
  background: #000; /* color de fondo de las franjas (puedes cambiarlo) */
}

body.main-page .fondo {
  width: 100vw;
  height: 100vh;
  object-fit: contain; /* asegura que la imagen completa se vea */
}

.bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  background-image: url("./a1659e6d-8e78-4e7a-ae41-321779b58896.JPG");
  background-size: cover;   /* ✅ muestra todo sin cortar */
  background-repeat: no-repeat;
  background-position: center;
}

.page-container {
  position: relative;   /* 🔴 referencia para el botón */
  width: 100%;
  min-height: 6000px;   /* solo de ejemplo para que la página tenga largo */
}

.img-btn-ML {
  width: 50%;   /* tamaño por defecto (PNG) */
  height: 50%;
  background-image: url("./Imagenes-mapa/ML_imanen.png"); /* PNG normal */
  background-size: contain; /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  border: none;       /* sin borde */
  cursor: pointer;    /* cursor de manito */
  background-color: transparent; /* sin fondo */
  position: absolute; /* así puedes moverlo fácilmente */
  top: 51%;         /* ajusta posición */
  left: -12%;        /* ajusta posición */
  /* transition: all 0.3s ease; /* suaviza cambios */
}

.img-btn-ML:hover {
  width: 70%;   /* tamaño al hover (GIF) */
  height: 70%;
  background-image: url("./Imagenes-mapa/MLFINALJuandi.gif"); /* GIF al hacer hover */
  top: 30%; 
  left: -25%;  
}


.img-btn-C {
  width: 35%;   /* tamaño por defecto (PNG) */
  height: 35%;
  background-image: url("./Imagenes-mapa/C_imagen.png"); /* PNG normal */
  background-size: contain; /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  border: none;       /* sin borde */
  cursor: pointer;    /* cursor de manito */
  background-color: transparent; /* sin fondo */
  position: absolute; /* así puedes moverlo fácilmente */
  top: 22%;         /* ajusta posición */
  left: 33%;        /* ajusta posición */
  /* transition: all 0.3s ease; /* suaviza cambios */
}

.img-btn-C:hover {
  width: 45%;   /* tamaño al hover (GIF) */
  height: 45%;
  background-image: url("./Imagenes-mapa/GifedificioC.gif"); /* GIF al hacer hover */
  top: 8%; 
  left: 25%;  
}


.img-btn-B {
  width: 30%;   /* tamaño por defecto (PNG) */
  height: 30%;
  background-image: url("./Imagenes-mapa/B_imagen.png"); /* PNG normal */
  background-size: contain; /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  border: none;       /* sin borde */
  cursor: pointer;    /* cursor de manito */
  background-color: transparent; /* sin fondo */
  position: absolute; /* así puedes moverlo fácilmente */
  top: 44%;         /* ajusta posición */
  left: 48%;        /* ajusta posición */
  /* transition: all 0.3s ease; /* suaviza cambios */
}

.img-btn-B:hover {
  width: 42%;   /* tamaño al hover (GIF) */
  height: 42%;
  background-image: url("./Imagenes-mapa/b_gif_niya_final.gif"); /* GIF al hacer hover */
  top: 30%; 
  left: 45%;  
}


.img-btn-Q {
  width: 34%;   /* tamaño por defecto (PNG) */
  height: 34%;
  background-image: url("./Imagenes-mapa/Q_imagen.png"); /* PNG normal */
  background-size: contain; /* ajusta la imagen */
  background-repeat: no-repeat;
  background-position: center;
  border: none;       /* sin borde */
  cursor: pointer;    /* cursor de manito */
  background-color: transparent; /* sin fondo */
  position: absolute; /* así puedes moverlo fácilmente */
  top: -3%;         /* ajusta posición */
  left: 57%;        /* ajusta posición */
  /* transition: all 0.3s ease; /* suaviza cambios */
}

.img-btn-Q:hover {
  width: 40%;   /* tamaño al hover (GIF) */
  height: 40%;
  background-image: url("./Imagenes-mapa/Q_GIF_FINAL.gif"); /* GIF al hacer hover */
  top: 1%; 
  left: 54%;  
}






