@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Jersey+10&family=Story+Script&display=swap");

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
min-height: 100vh;
text-align: center;
align-items: center;
background-image: url("./Imagen/Imagenbobonueva.jpg");
background-size: cover;
background-repeat: no-repeat;
color:white; 
}

.splash-container {
background-color: rgba(0, 0, 0, 0.5);
padding: 35px;
border-radius: 20px;
}

h1 {
font-size: 7em;
margin-bottom: 40px;
font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.start-button {
padding: 30px 40px;
font-size: 3.5em;
background-color: #ffef00;
color: black;
border: none;
border-radius: 5px;
cursor: pointer;
transition: color 0.3s ease;
font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.start-button:hover {
background-color: black;
color: white;
font-family: "Jersey 10", sans-serif;
}

body.main-page {
  margin: 0;
  overflow: hidden; /* sin scroll */
  background: #000; /* color de fondo de las franjas (puedes cambiarlo) */
}

body.main-page .fondo {
  width: 100vw;
  height: 100vh;
  object-fit: contain; /* asegura que la imagen completa se vea */
}


